<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h2>DAIS Inter-House Event Handler</h2>
            <br />
            <ul>
                <li><a href="/houses/panthers">Panthers</a></li>
                <li><a href="/houses/tigers">Tigers</a></li>
                <li><a href="/houses/lions">Lions</a></li>
                <li><a href="/houses/jaguars">Jaguars</a></li>
                <li><a href="/houses/overview">Overview</a></li>
                <li><a href="/core/">Core</li>
            </ul>
</body>
</html>